$palette-rich-black: #161d25;
$palette-mid-gray: #e8e8e8;
$warm-grey-two: #808080;
$cool-grey: #b3b8bc;

$palette-gray-0: #f9f9f9;
$palette-gray-1: #f7f7f7;
$palette-gray-2: #f3f3f3;
$palette-gray-3: #e8e8e8;
$palette-gray-9: #ededed;
$palette-gray-15: #e2e2e2;
$palette-gray-16: #dedede;
$palette-gray-7: #dbdbdb;
$palette-gray-4: #cccccc;
$palette-gray-8: #bdbdbd;
$palette-gray-14: #bbbbbb;
$palette-gray-12: #9a9a9a;
$palette-gray-17: #8c8c8c;
$palette-gray-10: #848484;
$palette-gray-11: #757575;
$palette-gray-13: #707070;
$palette-gray-19: #5e5e5e;
$palette-gray-5: #4a4a4a;
$palette-gray-6: #333333;
$palette-gray-18: #0000001f;

$palette-pure-white: #ffffff;
$palette-white: #fdfdfd;
$palette-white-1: #fafafa;

$palette-black: #333;

$material-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

//material-ui breakpoints
$xs: 599px;
$sm: 959px;
$md: 1279px;
$lg: 1919px;
